<form action="loginAdmin" method="post" enctype="application/x-www-form-urlencoded">
<div class="simple-login-container">
    <h2>Admin Login</h2>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="ID" name="name_id">
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="Password" class="form-control" name="password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group" style="margin-top: 20px">
            <input type="submit" class="btn btn-block btn-login" placeholder="Enter your Password" >
        </div>
    </div>
</div>
</form>
